@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@theme {
  --color-primary: #030014;
  --color-secondary: #8399a2;

  --font-Poppins: 'Poppins', serif;

  --aspect-ratio: 16 / 9;
  --aspect-retro: 4 / 3;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md-lg: 911px;
  --breakpoint-lg: 1068px;
  --breakpoint-xl: 1280px;
}

@layer base {
  body {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    background-color: #eef2f3;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight sm:text-[64px] sm:leading-[76px] cursor-default;
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl cursor-default;
  }
  h3 {
    @apply cursor-default;
  }
  p {
    @apply text-lg text-white sm:text-xl cursor-default;
  }
  ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  /* padding-left: 0.5rem; */
}

li {
  margin-bottom: 0.5rem;
}
}

@layer components {
  .hero {
    @apply w-screen py-20 md:py-20 px-5 relative;
  .heroImg {
    @apply absolute top-0 left-0 bottom-0 right-0 z-8 bg-[url(./image/ethiofood.jpg)] bg-cover bg-no-repeat bg-center opacity-50
    shadow-orange-500 shadow-md;
  }
  .para {
      @apply font-Poppins text-orange-950 text-4xl sm:text-5xl font-extrabold text-shadow-gray-500 text-shadow-lg
      sm:flex sm:flex-col text-center pt-2 sm:gap-1 py-10 md:py-5 sm:tracking-widest;
    }
  }
  .card {
    @apply w-full h-[420px] flex flex-col justify-between items-center px-4 py-2 rounded-lg shadow-gray-400 shadow-lg;

  .image {
      @apply w-full h-48 rounded-lg object-cover;
    }

  }
}

@utility button {
    @apply font-semibold text-amber-50 py-3 px-8 bg-green-400 rounded-lg mt-1 hover:drop-shadow-green-800 hover:drop-shadow-lg
      hover:scale-105 transition-all duration-200;
    }
@utility button2 {
  @apply font-semibold text-amber-50 py-1 px-8 bg-orange-400 rounded-lg mt-3 hover:drop-shadow-orange-800 hover:drop-shadow-lg
      hover:scale-105 transition-all duration-200;
    }